:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan1: hsl(186, 14%, 43%);
    --dark-grayish-cyan2: hsl(184, 14%, 56%);
    --light-grayish-cyan1: hsl(185, 41%, 84%);
    --light-grayish-cyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --error: #f08080;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--light-grayish-cyan1);
}

header {
    text-align: center;
    padding: 1.5em 0;
}

/* =============== */
/* TYPOGRAPHY */
/* =============== */

body {
    font-family: 'Space Mono', monospace; 
}

h1,h2,h3,h4 {
    margin: 0;
}

p {
    margin: 0
}



.input-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--dark-grayish-cyan1);
}


.output-title {
    color: var(--light-grayish-cyan2)
}

.output-subtitle {
    color: var(--light-grayish-cyan1);
}

.output-data {
    color: var(--strong-cyan);
}



/* =============== */
/* LAYOUT */
/* =============== */

.container {
    margin-top: 1em;
}

.container-center {
    max-width: 375px;
    margin: 0 auto;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.desktop-btn {
    display: none;
}

/* =============== */
/* MAIN */
/* =============== */

main {
    background: var(--White);
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    padding: 1.5em 2em;
}

/* =============== */
/* INPUTS */
/* =============== */

.input {
    font-size: 24px;
    font-weight: 700;
    color: var(--very-dark-cyan);
    text-align: right;
    padding: .5em;
    background: var(--light-grayish-cyan2);
    border: solid 2px var(--light-grayish-cyan2);
    outline: none;
    border-radius: 10px;
}

.input:focus {
    border: solid 2px var(--strong-cyan);
}

.bill-input {
    background:var(--light-grayish-cyan2) url("../images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left;
    
}

.group-input {
    background:var(--light-grayish-cyan2) url("../images/icon-person.svg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

/* =============== */
/* BUTTONS 
/* =============== */

.tip-percent-btn {
    width: 45%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--light-grayish-cyan2);
    font-family: 'Space Mono', monospace;
    background: var(--very-dark-cyan);
    padding: .5em 1em;
    margin-bottom: .5em;
    border: none;
    border-radius: 5px;
}

.tip-percent-btn:hover {
    background: var(--light-grayish-cyan1);
    color: var(--very-dark-cyan);
}

.tip-percent-btn:active,
.tip-percent-btn:focus {
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.custom-btn {
    width: 45%;
    font-size: 1.25rem;
    text-align: center;
    text-transform: capitalize;
    padding: .5em 0;
    color: var(--dark-grayish-cyan2);
    background: var(--light-grayish-cyan2);
    border: solid 2px var(--light-grayish-cyan2);
    outline: none;
}

.custom-btn:hover,
.custom-btn:focus {
    border: solid 2px var(--strong-cyan);
    background: var(--light-grayish-cyan2)
}

.custom-btn:focus {
    width: 41%;
    text-align: right;
    padding-right: .5em
}

.custom-btn:focus::placeholder {
    color: transparent;
}

.reset-btn {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--very-dark-cyan);
    font-family: 'Space Mono', monospace;
    background: var(--strong-cyan);
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;
}

.reset-btn:hover {
    background: var(--light-grayish-cyan1);
}

.error {
    border: solid 2px lightcoral;
}

.error-text {
    margin-left: 1em;
    color: var(--error);
    display: none;
}


/* =============== */
/* OUTPUT */
/* =============== */

.output {
    background: var(--very-dark-cyan);
    padding: 2em 1.5em 1em 1.5em;
    border-radius: 5%;
}

.total {
    margin-top: 1.5em;
}

.output-data {
    margin-top: .75em
}



/* ============================== */
/* =======  DESKTOP-CSS  ======== */
/* ============================== */

@media(min-width: 1440px ){

   .container-center {
       max-width: 850px;
   }

   .container-desktop-col {
       width: 48%;
   }

   header {
       padding: 8em 0 5em 0;
   }

   main {
       display: flex;
       border-radius: 5%;
       justify-content: space-between;
   }

   .tip-info {
       margin-top: 1em;
   }

   .tip-percent-btn {
       width: 30%;
   }

   .reset-btn {
       margin-top: 4.5em;
   }

   .custom-btn:focus {
        width: 27%;
    }

    .error-text {
        margin-left: 5em;
    }

   .output {
       padding: 2em;
   }


   .total-info {
       margin-top: 1em;
   }

   .person {
       margin: 0;
   }
   

  
}