:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan1: hsl(186, 14%, 43%);
    --dark-grayish-cyan2: hsl(184, 14%, 56%);
    --light-grayish-cyan1: hsl(185, 41%, 84%);
    --light-grayish-cyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--light-grayish-cyan1);
}

header {
    text-align: center;
    padding: 1.5em 0;
}

/* =============== */
/* TYPOGRAPHY */
/* =============== */

body {
    font-family: 'Space Mono', monospace; 
}

h1,h2,h3,h4 {
    margin: 0;
}

p {
    margin: 0
}

.input {
    font-size: 24px;
    font-weight: 700;
    color: var(--very-dark-cyan);
    text-align: right;
    padding: .25em .5em;
    background: var(--light-grayish-cyan2);
    outline: none;
    border: solid 1px var(--light-grayish-cyan1);
    border-radius: 10px;
}

.input-label {
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--dark-grayish-cyan1);
}


/* =============== */
/* LAYOUT */
/* =============== */

.container {
    margin-top: 1em;
}

.container-center {
    max-width: 375px;
    margin: 0 auto;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* =============== */
/* MAIN */
/* =============== */

main {
    background: var(--light-grayish-cyan2);
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    padding: 2em;
}


/* =============== */
/* BUTTONS */
/* =============== */

.tip-percent-btn {
    width: 48%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--light-grayish-cyan2);
    font-family: 'Space Mono', monospace;
    background: var(--very-dark-cyan);
    padding: .5em 1em;
    margin-bottom: .5em;
    border: none;
    border-radius: 5px;
}

.custom-btn {
    text-transform: capitalize;
    color: var(--dark-grayish-cyan2);
    background: var(--light-grayish-cyan2);
    border: solid 1px var(--light-grayish-cyan1);
}


/* =============== */
/* OUTPUT */
/* =============== */

.output {
    background: var(--very-dark-cyan);
    padding: 2em 1.5em;
    border-radius: 5%;
}

.output-title {
    color: var(--light-grayish-cyan2)
}

.person {
    color: var(--light-grayish-cyan1);
    margin-bottom: 1.5em;
}

.output-data {
    color: var(--strong-cyan);
    margin-top: .75em;
}

.reset-btn {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--very-dark-cyan);
    font-family: 'Space Mono', monospace;
    background: var(--strong-cyan);
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
}


/* ============================== */
/* =======  DESKTOP-CSS  ======== */
/* ============================== */

@media(min-width: 1440px ){

   .container-center {
       max-width: 750px;
   }

   .container-desktop-col {
       width: 48%;
   }

   header {
       padding: 8em 0 5em 0;
   }

   main {
       display: flex;
       border-radius: 5%;
       justify-content: space-between;
   }

   .tip-info {
       margin-top: 1em;
   }

   .reset-btn {
       margin-top: 4.5em;
   }

   .output {
       padding: 2em;
   }

   .output-data {
       font-size: 32px;
   }

   .mobile-total {
       margin-top: 2.5em;
   }

   .total-info {
       margin-top: 1em;
   }

   .person {
       margin: 0;
   }
   

  
}